<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false" class="collapsed navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand">Fish Guide</a>
        </div>
    </div>
</nav>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#NewFishModal">+ Добавить рыбу</button>
    </div>
  </div>

  <div class="row">
    <div class="panel panel-primary filterable">
      <div class="panel-heading">
        <h3 class="panel-title">Справочник</h3>
        <div class="pull-right">
          <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span>Фильтр...</button>
        </div>
      </div>
      <table class="table table-hover">
        <thead>
        <tr class="filters">
          <th><input type="text" class="form-control" placeholder="Название" disabled></th>
          <th><input type="text" class="form-control" placeholder="Место обитания" disabled></th>
          <th><input type="text" class="form-control" placeholder="Время клёва" disabled></th>
          <th><input type="text" class="form-control" placeholder="Прикорм" disabled></th>
          <th><input type="text" class="form-control" placeholder="Наживка" disabled></th>
          <th><input type="text" class="form-control" placeholder="Способ лова" disabled></th>
        </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in myData" ng-click="goConfig(item)" data-toggle="modal" data-target="#selectFishModal">
            <td>{{item.title}}</td>
            <td>{{item.place}}</td>
            <td>{{item.time}}</td>
            <td>{{item.lure}}</td>
            <td>{{item.bait}}</td>
            <td>{{item.method}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- Modal-->
<div id="NewFishModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" class="modal fade">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                <h4 id="myModalLabel" class="modal-title">Информация о рыбе</h4>
            </div>
            <div class="modal-body">
                <div class="row margin-top-sm">
                    <div class="col-md-5">
                        <p class="p-margin-top-sm">Название</p>
                    </div>
                    <div class="col-md-7">
                        <input type="text" class="form-control" placeholder="Введите название" ng-model="newFish.title">
                    </div>
                </div>
                <div class="row margin-top-sm">
                    <div class="col-md-5">
                        <p class="p-margin-top-sm">Места обитания</p>
                    </div>
                    <div class="col-md-7">
                        <input type="text" class="form-control" placeholder="Введите места обитания" ng-model="newFish.place">
                    </div>
                </div>
                <div class="row margin-top-sm">
                    <div class="col-md-5">
                        <p class="p-margin-top-sm">Время клёва</p>
                    </div>
                    <div class="col-md-7">
                        <input type="text" class="form-control" placeholder="Введите время клёва" ng-model="newFish.time">
                    </div>
                </div>
                <div class="row margin-top-sm">
                    <div class="col-md-5">
                        <p class="p-margin-top-sm">Прикорм</p>
                    </div>
                    <div class="col-md-7">
                        <input type="text" class="form-control" placeholder="Введите виды прикорма" ng-model="newFish.lure">
                    </div>
                </div>
                <div class="row margin-top-sm">
                    <div class="col-md-5">
                        <p class="p-margin-top-sm">Наживка</p>
                    </div>
                    <div class="col-md-7">
                        <input type="text" class="form-control" placeholder="Введите название наживки" ng-model="newFish.bait">
                    </div>
                </div>
                <div class="row margin-top-sm">
                    <div class="col-md-5">
                        <p class="p-margin-top-sm">Способ лова</p>
                    </div>
                    <div class="col-md-7">
                        <input type="text" class="form-control" placeholder="Введите способ лова" ng-model="newFish.method">
                    </div>
                </div>
                <div class="row margin-top-sm">
                    <div class="col-md-5">
                        <p class="p-margin-top-sm">Дополнительная информация</p>
                    </div>
                    <div class="col-md-7">
                        <form>
                            <textarea class="form-control" rows="5" placeholder="Введите дополнительную информацию" ng-model="newFish.description"></textarea>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addNewFish()">Сохранить</button>
            </div>

        </div>
    </div>
</div>

<!-- Modal-->
<div id="selectFishModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" class="modal fade">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                <h4 id="myModalLabel2" class="modal-title">Информация о рыбе</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="p-margin-top-sm font-weight-bold">Название: </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>{{selectedItem.title}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <p class="p-margin-top-sm font-weight-bold">Места обитания:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>{{selectedItem.place}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <p class="p-margin-top-sm font-weight-bold">Время клёва:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>{{selectedItem.time}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <p class="p-margin-top-sm font-weight-bold">Прикорм:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>{{selectedItem.lure}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <p class="p-margin-top-sm font-weight-bold">Наживка:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>{{selectedItem.bait}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <p class="p-margin-top-sm font-weight-bold">Способ лова:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>{{selectedItem.method}}</p>
                    </div>
                </div>
                <div class="row" ng-show="selectedItem.description">
                    <div class="col-md-5">
                        <p class="p-margin-top-sm font-weight-bold">Дополнительная информация:</p>
                    </div>
                </div>
                <div class="row" ng-show="selectedItem.description">
                    <div class="col-md-12">
                        <p>{{selectedItem.description}}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#EditFishModal" data-dismiss="modal">Редактировать</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteFish()">Удалить</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>

        </div>
    </div>
</div>

<!-- Modal-->
<div id="EditFishModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" class="modal fade">
    <div role="document" class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
          <h4 id="myModalLabel4" class="modal-title">Информация о рыбе</h4>
        </div>
        <div class="modal-body">
          <div class="row margin-top-sm">
            <div class="col-md-5">
              <p class="p-margin-top-sm">Название</p>
            </div>
            <div class="col-md-7">
              <input type="text" class="form-control" placeholder="Введите название" ng-model="selectedItem.title">
            </div>
          </div>
          <div class="row margin-top-sm">
            <div class="col-md-5">
              <p class="p-margin-top-sm">Места обитания</p>
            </div>
            <div class="col-md-7">
              <input type="text" class="form-control" placeholder="Введите места обитания" ng-model="selectedItem.place">
            </div>
          </div>
          <div class="row margin-top-sm">
            <div class="col-md-5">
              <p class="p-margin-top-sm">Время клёва</p>
            </div>
            <div class="col-md-7">
              <input type="text" class="form-control" placeholder="Введите время клёва" ng-model="selectedItem.time">
            </div>
          </div>
          <div class="row margin-top-sm">
            <div class="col-md-5">
              <p class="p-margin-top-sm">Прикорм</p>
            </div>
            <div class="col-md-7">
              <input type="text" class="form-control" placeholder="Введите виды прикорма" ng-model="selectedItem.lure">
            </div>
          </div>
          <div class="row margin-top-sm">
            <div class="col-md-5">
              <p class="p-margin-top-sm">Наживка</p>
            </div>
            <div class="col-md-7">
              <input type="text" class="form-control" placeholder="Введите название наживки" ng-model="selectedItem.bait">
            </div>
          </div>
          <div class="row margin-top-sm">
            <div class="col-md-5">
              <p class="p-margin-top-sm">Способ лова</p>
            </div>
            <div class="col-md-7">
              <input type="text" class="form-control" placeholder="Введите способ лова" ng-model="selectedItem.method">
            </div>
          </div>
          <div class="row margin-top-sm">
            <div class="col-md-5">
              <p class="p-margin-top-sm">Дополнительная информация</p>
            </div>
            <div class="col-md-7">
              <form>
                <textarea class="form-control" rows="5" placeholder="Введите дополнительную информацию" ng-model="selectedItem.description"></textarea>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="editFish()">Сохранить</button>
        </div>

      </div>
    </div>
</div>